body {
  background: #191414;
  color: white;
  fill: white;
}

.world-map {
  stroke: #000;
  stroke-width: 1px;
}
.song-text {
  font-size: 12px;
}

.slope-x-axis {
  font-size: 15px;
  font-weight: bold;
}

.container {
  border: grey 1px solid;
  border-radius: 5px;
  padding: 6px;
  margin: 6px;
  max-width: 1100px;
}

.align-container {
  display: inline-flex;
}

.visualization-container {
  align-items: center;
  align-content: center;
  align-self: center;
  text-align: center;
}

#choropleth-map-tooltip, #slope-chart-tooltip {
  position: absolute;
  display: none;
  font-size: 12px;
  background: #1DB954;
  color: white;
  padding: 5px;
  border: 2px solid #191414;
}

.highlight-country {
  stroke-width: 2px;
  stroke: white;
}

.hover-slope {
  font-weight: bold;
  fill: white;
}

.highlight-top-20 {
  stroke-width: 2.5px;
  stroke: yellow;
}

.title {
  text-align: center;
}

.tooltip-label {
  text-align: left;
}

.slope-x-axis {
  font-size: 20px;
}

/* Hide the default check mark */
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none; /* Remove default focus outline in some browsers */
  cursor: pointer; /* Add a pointer cursor on hover */
}

/* Style for the box of the checkbox */
input[type="checkbox"]::before {
  content: ''; /* Empty content */
  display: inline-block;
  width: 16px; /* Set the width of the box */
  height: 16px; /* Set the height of the box */
  border: 13px solid #fff; /* Set the border color to white */
  margin-right: 5px; /* Adjust spacing between the box and label if needed */
  vertical-align: text-bottom; /* Align with the text baseline */
}

#select-button {
  display: flex;
  position: relative;
  left: 800px;
  top: -60px;
  background-color: #1DB954;
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  border-radius: 12px;
  width: 200px;
  transition-duration: 0.4s;
  cursor: pointer;
}